<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS8qQE6hg0l6vODQYZyrkHvN8RlpBCPNU</string>
	<key>GCM_SENDER_ID</key>
	<string>211128051459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apptolast.greenhousefronts</string>
	<key>PROJECT_ID</key>
	<string>greenhouse-fronts</string>
	<key>STORAGE_BUCKET</key>
	<string>greenhouse-fronts.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211128051459:ios:0eaeb805443e656da72b36</string>
</dict>
</plist>